.container {
    border: 5px solid black;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .white {
    height: 100px;
    width: 100px;
    background-color: rgb(237,189,161);
  }

  .black {
    height: 100px;
    width: 100px;
    background-color: rgb(176,111,74);
  }