.container {
    border: 5px solid black;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .white {
    height: 100px;
    width: 100px;
    background-color: black;
  }

  .black {
    height: 100px;
    width: 100px;
    background-color: white;
  }